@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&display=swap');

/* .desktop {
  display: none;
} */
.mobile {
  display: none;
}
.maindiv {
  /* padding-top: 9.5vh; */
  background-image: url("../assets/imgs/gradientbg.svg");
  background-size: cover;
}
.testPageRow {
  height: fit-content;
  width: 80%;
  /* height: 30rem; */
  text-align: center;
  /* padding: 2rem 3rem; */
  margin: 5rem auto;
}
.testPageRowInner {
  height: 100%;
  /* vertical-align: middle; */
  background-color: rgba(255,255,255,.5);
  box-shadow: 10px 10px 5px rgba(20,33,61,.2);
  padding: 1.5rem 3rem;
}
#header {
  height: 20rem;
  background-image: url("../assets/imgs/headerbg1.png");
  background-size: cover;
  box-shadow: 0px 5px 2px rgba(20,33,61,.4);
  /* background-repeat: no-repeat; */
  padding-top: 11rem;
}
.headerRow {
  height: 100%;
}
.headerCol {
  height: 100%;
}
.headColLeft {
  padding-left: 7rem;
}
.headColRight {
  text-align: center;
}
.headerImg {
  height: 80%;
  margin: auto;
}
.headerHeading {
  color: #ffffff;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
}
.headerText {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  /* font-weight: bold; */
}
.sectionRow {
  margin: 3rem 0rem;
}
.sectionHeading {
  color: #ffffff;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}
.sectionText {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}
.locationImageList {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0 auto;
}
.locationImageListItem {

}
.roundImg {
  border-radius: 50%;
  height: 12rem;
  margin: .5rem auto;
}
.sqImg {
  height: 12rem;
  width: 17rem;
  margin: .5rem auto;
}
.locationImage {
  border: 2px solid #ffffff;
  box-shadow: 3px 7px 3px rgba(20,33,61,.4);
}

.testPageFooter {
  text-align: center;
  height: fit-content;
  margin-top: 3rem;
  background-color: rgba(255,255,255,.5);
  /* padding: 1rem 3rem; */
}
.footerLinkList {
  list-style-type: none;
  padding: 0;
}
.footerLinkListItem {
  color: #ffffff;
  text-align: left;
}
.footerCol {
  display: inline-block;
}

@media only screen and (max-width: 420px) {

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .testPageRowInner {
    padding: 2rem .5rem;
  }
  .locationImageList {
    width: 100%;
  }
  .locationImageListItem {
    margin: 0 .5rem;
  }
  .sectionRow {
    margin: 3rem 0rem;
  }
  #mobile3 {

  }
  .roundImg {
    height: 7rem;
    margin: .5rem auto;
  }

}
