@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&display=swap');

/* .desktop {
  display: none;
} */
.mobile {
  display: none;
}
.maindiv {
  /* padding-top: 9.5vh; */
  /* background-image: url("../assets/imgs/gradientbg.svg");
  background-size: cover; */
}
#experienceMaindiv {
  background-image: url("../assets/imgs/joyBackground.png");
  background-size: cover;
}
#teamMaindiv {
  background-image: url("../assets/imgs/pathBackground.png");
  background-size: cover;
}
#joyMaindiv {
  background-image: url("../assets/imgs/joyBackground.png");
  background-size: cover;
}
#pathMaindiv {
  background-image: url("../assets/imgs/pathBackground.png");
  background-size: cover;
}
.testPageRow {
  height: fit-content;
  width: 80%;
  /* height: 30rem; */
  text-align: center;
  /* padding: 2rem 3rem; */
  margin: 5rem auto;
}
.testPageRowInner {
  height: 100%;
  /* vertical-align: middle; */
  background-color: rgba(255,255,255,.2);
  box-shadow: 10px 10px 5px rgba(20,33,61,.2);
  padding: 1.5rem 3rem;
}
.experienceHeader {
  background-image: url("../assets/imgs/experienceHeader.png");
  background-size: cover;
}
.joyHeader {
  background-image: url("../assets/imgs/joyHeader.jpg");
  background-size: cover;
}
.teamHeader {
  background-image: url("../assets/imgs/teamHeader.png");
  background-size: cover;
}
.pathHeader {
  background-image: url("../assets/imgs/pathHeader.jpg");
  background-size: cover;
}

.groupPic {
  height: fit-content !important;
  width: fit-content;
  margin: 0 auto;
}
.groupPhoto {
  margin: .5rem auto;
  border-radius: 5px;
}

#header {
  height: 20rem;

  box-shadow: 0px 5px 2px rgba(20,33,61,.4);
  /* background-repeat: no-repeat; */
  padding-top: 9rem;
}

.headerRow {
  height: 100%;
}
.headerCol {
  height: 100%;
}
.headColLeft {
  padding-left: 7rem;
}
.headColRight {
  text-align: center;
}
.headerImg {
  height: 80%;
  margin: auto;
}
.headerHeading {
  color: #ffffff;
  font-family: 'Sacramento', cursive;
  font-size: 4rem;
}
.headerText {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
}
.sectionRow {
  margin: 3rem 0rem;
}
.sectionHeading {
  color: #ffffff;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
}
.sectionsubheading {
  color: #ffffff;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
}
.sectionText {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: large;
  line-height: 2;
}
.xText {
  margin: 0 auto;
}

.textLink {
  color: #ffffff;
  text-decoration: underline;

}
.locationImageList {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0 auto;
}
.locationImageListItem {

}
.roundImg {
  border-radius: 50%;
  height: 12rem;
  margin: .5rem auto;
}
.sqImg {
  height: 12rem;
  width: 17rem;
  margin: .5rem auto;
}
.locationImage {
  border: 2px solid #ffffff;
  box-shadow: 3px 7px 3px rgba(20,33,61,.4);
}

.sectiontextList {
  padding: 0;
  list-style-type: none;
  margin: 0 auto;
}

.packageList {
  padding: 0;
  list-style-type: none;
}
.packageCol {
  background-color: rgba(249,176,182, .5);
  padding: 1rem;
  box-shadow: 10px 10px 5px rgba(20,33,61,.2);
  margin: 0 auto;
}
.ul {
  text-decoration: underline;
}
.packageTitle {
  font-weight: bolder;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}
#teamSectionRow {
  height: 17rem;
}
.teamImg {
  height: 9rem;
  border: none;
  display: block;
}
.teamBtn {
  border-radius: 15px;
  margin-top: .5rem;
}
#kwayera {
  /* padding-top: 3rem; */
}
#ade {
  padding-top: 5rem;
}
#khadijah {

}
#kwasausya {
  padding-top: 5rem;
}
#perdella {

}
.fiveIInnerRow {
  /* border: 1px solid black; */
}
.fiveIImage {
  border-radius: 15px;
  border: 2px solid #ffffff;
  box-shadow: 3px 7px 3px rgba(20,33,61,.4);
}
.joyIcon {
  /* background-image: linear-gradient(rgba(197, 31, 113, .7),	rgba(236, 161, 48, .7)); */
  color: #ffffff;
  height: 9rem !important;
  width: 9rem !important;
}
.testPageFooter {
  text-align: center;
  height: fit-content;
  margin-top: 3rem;
  background-color: rgba(255,255,255,.5);
  padding-top: 1rem;
}
.footer_navBar_link {
  color: #ffffff;
}
.footerIcon {
  color: #ffffff;
}
.footerLinkList {
  list-style-type: none;
  padding: 0;
}
.footerLinkListItem {
  color: #ffffff;
  text-align: left;
}
.footerCol {
  display: inline-block;
}
.footer_navList {
  list-style-type: none;
  padding-left: 2rem;
  text-align: left;
}
.footer_socialList {
  list-style-type: none;
  padding-right: 2rem;
  text-align: right;
}
.footer_copyrightRow_text {
  margin: 0 auto;
  font-size: small;
  color: #ffffff;
}

@media only screen and (max-width: 420px) {

  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  #mobileHeader {
    height: 20rem;
    width: 100vw;
    box-shadow: 0px 5px 2px rgba(20,33,61,.4);
    padding-top: 9rem;
  }
  .mobileHeaderLogo {
    height: 75%;
    margin: 0 1rem 1rem 0;
  }
  .headColLeft {
    padding-left: 2rem;
  }
  .headerHeading {
    font-size: 3rem;
  }
  .headerText {
    font-size: 1rem;
    font-weight: bold;
  }
  .sectionHeading {
    font-size: 3rem;
  }
  .testPageRowInner {
    padding: 2rem .5rem;
  }
  .locationImageList {
    width: 100%;
  }
  .locationImageListItem {
    margin: 0 .5rem;
  }
  .sectionRow {
    margin: 3rem 0rem;
  }
  #mobile3 {

  }
  .roundImg {
    height: 7rem;
    margin: .5rem auto;
  }

  #kwayera {
    padding: 0 1rem;
  }
  #ade {
    padding: 0 1rem;
  }
  #khadijah {
    padding: 0 1rem;
  }
  #kwasausya {
    padding: 0 1rem;
  }
  #perdella {
    padding: 0 1rem;
  }
  .singleImg {
    display: block;
  }
  .Row1 {
    margin: .5rem auto;
  }
  .groupPhoto {
    width: 70vw;
  }


}
