.cookieRow {
  position: fixed;
  bottom: 0;
  left: 1rem;
  width: 100vw;
  height: 5rem;
  /* background-image: linear-gradient(
    rgba(197, 31, 113, .9),
    rgba(236, 161, 48, .9)
    ); */
  background-color: rgba(197, 31, 113, .7);
  /* background-color: rgba(249,176,182, .9); */
  z-index: 16;
  /* padding: 1.5rem 5rem; */
}
.covidRow {
  position: fixed;
  top: 0;
  left: 1rem;
  width: 100vw;
  height: 11rem;
  /* background-image: linear-gradient(
    rgba(236, 161, 48, .9),
    rgba(8,174,170, .9)
    ); */
  background-color: rgba(197, 31, 113, .7);
  /* background-color: rgba(249,176,182, .9); */
  z-index: 16;
  /* padding: 1.5rem 5rem; */
}
.cookieCol {
  text-align: center;
  padding-top: 1.5rem;
}
.cookieRowBtn {
  height: 2rem;
  margin: 0;
  display: inline-block;
}
.cookieText {
  color: #ffffff;
  display: inline-block;

}
@media only screen and (mix-width: 768px) and (max-width: 1024px) {

}

@media only screen and (max-width: 420px) {
  .covidRow{
    height: 22rem;
  }
  .cookieRow{
    height: 9rem;
  }
  .cookieText {
    font-size: .8rem;
  }
  .closeCol {
    padding-top: .5rem;
  }
}
