@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Sacramento&display=swap');

.overlayTopdiv {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  padding: 7vh 0;
}
.overlayCol {
  width: 50vw;
  height: 80vh;
  margin: 0 auto;
  background-image: linear-gradient(rgba(197, 31, 113, .7),	rgba(236, 161, 48, .7));
  border-radius: 30%;
  padding: 1rem 3rem 3rem 3rem;
  overflow: scroll;
}
.overlayImageRow {
  width: 90vw;
  margin: 0 auto;
}
.overlayTopRow {
  /* float: right; */
  /* display: block; */
  position: fixed;
}
.overlayImageTopRow {
  /* float: right; */
  position: absolute;
  left: 3rem;
}
.overlayRow {
  /* border: 1px solid #ffffff; */
  display: block;
  margin-top: 3rem;
}

.overlayHeading {
  color: #ffffff;
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  margin: 1.5rem auto;
}
.overlayText {
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
}
.overlayImage {
  border-radius: 10px;
  /* max-width: 100%; */
  height: 90vh;
  /* padding-top: 1rem; */
  margin: 0 auto;
}
.overlayClose {
  /* margin-right: 3rem; */
}

@media only screen and (max-width: 420px) {

  .overlayCol {
    width: 95vw;
    height: 75vh;
  }
  .overlayRow {
    overflow: scroll;
    height: 90%;
  }
  .overlayImageRow {

  }
  .overlayImage {
    /* max-width: 75vw; */
    width: 95%;
    height: 50%;
    margin-top: 7rem;
  }

}
